# Ex 1. First 10 Natural Numbers

In [1]:
#Using for loop

for i in range (1,11):
    print("The first 10 Natural numbers are:" , i)

The first 10 Natural numbers are: 1
The first 10 Natural numbers are: 2
The first 10 Natural numbers are: 3
The first 10 Natural numbers are: 4
The first 10 Natural numbers are: 5
The first 10 Natural numbers are: 6
The first 10 Natural numbers are: 7
The first 10 Natural numbers are: 8
The first 10 Natural numbers are: 9
The first 10 Natural numbers are: 10

In [3]:
#using while loop
num = 1
while num<=10:
    print (num)
    num+=1

1
2
3
4
5
6
7
8
9
10

# Ex2 : Even numbers from 1 to 50

In [4]:
# using for loop
for i in range (2 , 51, 2):
    print ("Even numbers from 1 to 50 are:" , i)

Even numbers from 1 to 50 are: 2
Even numbers from 1 to 50 are: 4
Even numbers from 1 to 50 are: 6
Even numbers from 1 to 50 are: 8
Even numbers from 1 to 50 are: 10
Even numbers from 1 to 50 are: 12
Even numbers from 1 to 50 are: 14
Even numbers from 1 to 50 are: 16
Even numbers from 1 to 50 are: 18
Even numbers from 1 to 50 are: 20
Even numbers from 1 to 50 are: 22
Even numbers from 1 to 50 are: 24
Even numbers from 1 to 50 are: 26
Even numbers from 1 to 50 are: 28
Even numbers from 1 to 50 are: 30
Even numbers from 1 to 50 are: 32
Even numbers from 1 to 50 are: 34
Even numbers from 1 to 50 are: 36
Even numbers from 1 to 50 are: 38
Even numbers from 1 to 50 are: 40
Even numbers from 1 to 50 are: 42
Even numbers from 1 to 50 are: 44
Even numbers from 1 to 50 are: 46
Even numbers from 1 to 50 are: 48
Even numbers from 1 to 50 are: 50

In [5]:
#using while loop
num=2
while num<=50:
    print(num)
    num+=2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

# Ex 3: Calculate Factorial

In [11]:
#using for loop
num = int(input("Enter a Number:"))
factorial = 1
for i in range(1 , num+1):
    factorial *=i
print("Factorial of ", num , "is" , factorial)#correct indentation is very improtant ad i got an output but it was wrong

Enter a Number: 6

Factorial of  6 is 720

In [12]:
#Using while loop
num = int(input("Enter a number:"))
factorial = 1
i = 1
while i<= num:
    factorial *=i
    i +=1
print("The factorial of" , num , "is" , factorial)

Enter a number: 5

The factorial of 5 is 120